.Dashboard{
    padding: 1rem 0;
    max-width: 95%;
    margin: auto;
    display: flex;
}

.DashboardMenu{
    width: 25%;
    margin: 0 1rem;
}

.DashboardArea{
    width: 75%;
    margin: 0 1rem;
}
.Welcome{
    font-weight: 800;
    color: rgba(22, 22, 22, 0.651);
    text-align: center;
    margin: 0;
    position: relative;
    display: block;
}
.Email{
    font-weight: 300;
    text-align: center;
    margin: 0;
    background-color: #ebe4e460;
    color: rgb(83, 83, 83);
    border-radius: 0.5px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
  
.WelcomeHover:hover .Email{
    visibility: visible;
}

.DashboardProfile{
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    border: 1px solid #dfdfdf;  
    background-color: #ffffff;
    color: rgb(70, 69, 69);
    filter: drop-shadow(2px 2px 2px #cfc8c8);
    border-radius: 0.2rem;
}

.DashboardEditProfile{
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 1px solid #dfdfdf;  
    background-color: #ffffff;
    color: rgb(70, 69, 69);
    border-radius: 0.2rem;
}

.CreateProfile{
    padding: 0.8rem;
    color: rgb(236, 83, 27);
    background-color: #dfdfdf;
    border: 1px solid #cfc8c8;
    border-radius: 0.2rem;
}
.CreateProfile button:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #cfc8c8);
    font-weight: 500;
    text-decoration: none;
}