.LoginForm{
  margin: 2rem auto;
  text-align: center;
  border: 1px solid rgb(199, 198, 198);
  width: fit-content;
  background-color: white;
  padding: 2rem;

}
.background{
    background-image: url(../../resources/images/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%;
    filter: blur(5px);
    position: absolute;
}

.login-div{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    top:25vh;
    max-width: 30%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    filter:drop-shadow(8px 8px 10px grey);
}

.google{
    width: 60%;
}
.google:hover{
    width: 61%;
    cursor: pointer;
}

.logintext {
    position: relative;
    display: block;
    color: #838282;
    font-weight: 500;
    padding: 1.2rem;
  }
  
  .logintext .logintexttooltip {
    visibility: hidden;
    width: 100%;
    background-color: #d4d1d169;
    color: #000;
    text-align: center;
    border-radius: 0.5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .logintext:hover .logintexttooltip {
    visibility: visible;
  } 
