.Menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    color: #c5c2c2;
    text-transform: uppercase;
    border: 0.75px solid #d3d1d1;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 800;
}

.Menu:hover{
    filter:drop-shadow(2px 2px 2px);
    cursor: pointer;
    font-weight: 1000;
}

.MenuFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #c5c2c2;
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 400;
}