.logout{
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
}

.logo{
    height: 200%;
    z-index: 2;
    filter:drop-shadow(2px 2px 4px black);
}
.logo:hover{
    height: 197%;
    cursor: pointer;
    filter:drop-shadow(2px 2px 4px white);
}

a{
    color: rgb(243, 132, 92);
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
a:hover{
    font-weight: 800;
    color: rgb(243, 107, 57);
    cursor: pointer;
}

@media (max-width:500px){
    .logout{
        padding: 0 2rem;
    }
    .logo{
        height: 150%;
    }
}