.Createbuzz{
    width: 100%;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    color: #b3aeae;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

.Createbuzz textarea{
    border: none;
    width: 100%;
    color: #b3aeae;
}

.Createbuzz select{
    border: none;
    color: #b3aeae;
} 

.Createbuzz .heading{
    font-weight: 800;
    border: 1px solid  #dfdfdf;
    background-color: #dfdfdf;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;
    color: black;
    border-radius: 0.2rem;
}

.Createbuzz .attachment{
    border: 1px solid white;
    color: #b3aeae;
    border-radius: 0.2rem;
}
.Createbuzz button{
    color: rgb(236, 83, 27);
    background-color: #fff;
    border: none;
    font-size: 2rem;
    padding: 0 1rem;
}

.Createbuzz button:hover{
    font-size: 2.2rem;
    cursor: pointer;
}

.CreatebuzzSubmit{
    border-top: 1px solid #eeecec;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}