.ComplaintBoxHeading{
    font-weight: 800;
    border: 1px solid  #dfdfdf;
    background-color: #dfdfdf;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;
    color: black;
    border-radius: 0.2rem;
}

.Complaintbox{
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    color: #b3aeae;
    border-radius: 0.2rem;
}
.ComplaintBoxDivSmall div{
    display: flex;    
    flex-direction: column;
    margin: 1%;
    width: 48%;
    text-align: center;
}

.ComplaintBoxDivSmall{
    display: flex;
    flex-wrap: wrap;
}

.Complaintbox input,select{
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 0.2rem;
}

.Complaintbox textarea{
    margin: 0 1rem;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 0.2rem;
    width: 96%;
}

.Name_Email{
    padding: 0.5rem;
    border: 1px solid #dfdfdf;
    border-radius: 0.2rem;
    width: 94%;
}

.Complaintbox .attachment{
    border: 1px solid white;
    color: #b3aeae;
    border-radius: 0.2rem;
}
.Complaintbox button{
    padding: 0.8rem;
    color: rgb(236, 83, 27);
    background-color: #dfdfdf;
    border: 1px solid #cfc8c8;
    border-radius: 0.2rem;
    width: fit-content;
    margin: 0 1rem;
}
.Complaintbox button:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #cfc8c8);
    font-weight: 500;
}

.SubmitButtonDiv{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.attachment{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.attachment + label {
    font-size: 1rem;
    color: #b4b1b1;
    background-color: #dfdfdf;
    border: 1px solid #b4b1b1;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.attachment:focus + label,
.attachment + label:hover {
    background-color:  rgb(236, 83, 27);
    color: white;
    border: white;
    font-size: 1.1rem;
}
.attachment + label {
    cursor: pointer;
}
.attachment:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}