.YourComplaints{
    font-weight: 800;
    border: 1px solid  #dfdfdf;
    background-color: rgb(214, 212, 212);
    padding: 0.5rem 1rem;
    width: 100%;
    color: black;
    border-radius: 0.2rem;
}
.ComplaintTable{
    width: 100%;
}
.ComplaintTable{
    margin:0;
    background-color: white;
    color: rgb(134, 129, 129);
}
.ComplaintTable td{
    border: 1px solid rgb(214, 212, 212);
    text-align: center;
    width: 25%;
}
.ResolvedTable td{
    width: 20%;
}
.ComplaintTable thead{
    font-weight: 800;
}
.open{
    color: rgb(247, 33, 33);
}
.prog{
    color: rgb(44, 11, 192);
}
.resolved{
    color: rgb(5, 148, 5);
}